<!-- top navbar -->
<div class="w3-top" id="totalNav">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="https://piscine-moliere-63724.herokuapp.com" class="w3-bar-item w3-button w3-hover-green"><i class="fa fa-home"></i>HOME</a>
    
    <!-- <a href="index.html/#about" class="w3-bar-item w3-button w3-hide-small w3-hover-red"><i class="fa fa-book"></i> ABOUT</a>
    <a href="index.html/#contact" class="w3-bar-item w3-button w3-hide-small w3-hover-red"><i class="fa fa-envelope"></i> CONTACT</a> -->
    <a href="https://piscine-moliere-63724.herokuapp.com" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red"><i class="fa fa-user"></i> LOGOUT</a>
  </div>
</div>
<!-- ------------------------------------ -->
  <!-- Page Container -->
<div class="w3-container w3-content" id="w3container" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row" id="leftcolumnrow">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card-2 w3-round" id="profilebox">
        <div class="w3-container">
         <h4 class="w3-center" id="profilelabel"><b>My Profile</b></h4>
         <div><p class="w3-center" id="userprofileimage"><img src="https://cdn3.iconfinder.com/data/icons/rcons-user-action/32/boy-512.png" style="height:106px;width:106px" alt="Avatar"></p></div>
         <hr>
         <div id="uservitals">
           <p>{{username}}</p>
           <p id="userEmail">{{email}}</p>
           <p>{{mentorpro}}</p>
           <p>{{frontbackend}}</p>
         </div>
          <a href="#modal" class="w3-bar-item w3-button w3-hide-small w3-left-align w3-hover-green" onclick="document.getElementById('id05').style.display='block'"><i class="fa fa-user"></i> INSTANT MESSAGE</a></br>
           <a href="#modal" class="w3-bar-item w3-button w3-hide-small w3-left-align w3-hover-green" onclick="document.getElementById('id03').style.display='block'"><i class="fa fa-user"></i> GROUP CHAT</a></br></br>
   
        <!--<p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme" name="city"></i> CITY</p>
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme" name="state"></i> STATE</p> -->
        </div>
      </div>
      <br>
       <div class="w3-card-2 w3-round" id="requestbox">
        <div class="w3-container" id="requestboxcontainer">
          <h4 class="w3-center" id="promentlabel"><b>Protege/Mentor Request</b></h4>
          <p class="w3-center" id=promentimage><img src="https://cdn3.iconfinder.com/data/icons/rcons-user-action/32/boy-512.png" style="height:106px;width:106px" alt="Avatar"></p>
          <span id=promentrequester><b>John Doe</b></br><b>Front End Protege</b></span>
          <div class="w3-row w3-opacity">
            <div class="clearfix9" id="clearfix9">
            <button type="button" id="acceptpromentrequest" class="signupbtn">ACCEPT</button>
            <button type="button" id="declinepromentrequest" onclick="document.getElementById('id05').style.display='none'" class="cancelbtn">DECLINE</button>
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- End Left Column -->
<!--GROUP CHAT  -->
    <div id="id03" class="modal">
          <!-- <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span> -->
      <div class="modal-content animate" id="modal3contain">
        <div class="container" id="chatcontain">
          <h2 id="chatheader">GROUP CHAT</h2>
          <div id="chatfield">
              <ul id="chatlist"></ul>
            </div>
          <!-- <label id="usrnm"><b>Username</b></label> -->
          <!-- <input type="text" placeholder="Enter Email" name="email" id="logInemail" required> -->
          <!-- <label id="psswd"><b>Password</b></label> -->
          <input type="text" placeholder="Type a message" name="comment" id="chatmessage" required>
          <div class="clearfix3" id="clearfix4">
            <button type="button" id="signUp" class="signupbtn">SUBMIT</button>
            <button type="button" onclick="document.getElementById('id03').style.display='none'" class="cancelbtn">CANCEL</button>
          </div>
        </div>
      </div>
    </div>
         
<!-- INSTANT MESSAGE -->
  <div id="id05" class="modal">
    <!-- <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span> -->
    <form class="modal-content animate" action="/action_page.php" id="modal4contain">
      <div class="container" id="mssgcontain">
        <h2 id="mssgheader">INSTANT MESSAGE</h2>
          <input type="text" placeholder="Search by Username" name="comment" id="mssgsearch" required>
          <div id="mssgfield"></div>
              <!-- <label id="usrnm"><b>Username</b></label> -->
              <!-- <input type="text" placeholder="Enter Email" name="email" id="logInemail" required> -->
              <!-- <label id="psswd"><b>Password</b></label> -->
            <input type="text" placeholder="Type a message" name="comment" id="directmessage" required>
          <div class="clearfix3" id="clearfix4">
            <button type="button" id="directsend" class="signupbtn">SUBMIT</button>
            <button type="button" onclick="document.getElementById('id05').style.display='none'" class="cancelbtn">CANCEL</button>
        </div>
      </div>
    </form>
  </div>
  
<!-- End Page Container -->
</div>
<br>
<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->