<!DOCTYPE html>
<html>
<title>Home | DevConnect</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="assets/css/style.css" rel="stylesheet">


<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
</style>
<body>

<!-- top navbar -->
<div class="w3-top" id="totalNav">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="index.html" class="w3-bar-item w3-button w3-hover-green"><i class="fa fa-home"></i>HOME</a>
    <a href="#modal" class="w3-bar-item w3-button w3-hide-small w3-left-align w3-hover-green" onclick="document.getElementById('id03').style.display='block'"><i class="fa fa-user"></i> CHAT</a>
    <a href="#modal" class="w3-bar-item w3-button w3-hide-small w3-left-align w3-hover-green" onclick="document.getElementById('id05').style.display='block'"><i class="fa fa-user"></i> INSTANT MESSAGE</a>

    <!-- <a href="index.html/#about" class="w3-bar-item w3-button w3-hide-small w3-hover-red"><i class="fa fa-book"></i> ABOUT</a>
    <a href="index.html/#contact" class="w3-bar-item w3-button w3-hide-small w3-hover-red"><i class="fa fa-envelope"></i> CONTACT</a> -->
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red"><i class="fa fa-user"></i> LOGOUT</a>

  </div>

  <!-- small navbar -->
  <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium">
  <a href="index.html" class="w3-bar-item w3-button w3-hover-red"><i class="fa fa-home"></i>HOME</a>
    <a href="#modal" class="w3-bar-item w3-button w3-hide-small w3-left w3-hover-green" onclick="document.getElementById('id03').style.display='block'"><i class="fa fa-user"></i> CHAT</a>
    <!-- <a href="#about" class="w3-bar-item w3-black w3-button" onclick="toggleFunction()">ABOUT</a> -->
    <!-- <a href="#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a> -->
  </div>
</div>

<!-- ------------------------------------ -->

  <!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card-2 w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">My Profile</h4>
         <p class="w3-center"><img src="{{photoUrl}}" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>
                  <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme" name="username"></i> {{username}}</p>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme" name="interest"></i> {{mentorpro}}</p>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme" name="interest"></i> {{frontbackend}}</p>
<!--          <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme" name="city"></i> CITY</p>
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme" name="state"></i> STATE</p> -->
        </div>
      </div>
      <br>
       <div class="w3-card-2 w3-round w3-white">
        <div class="w3-container">
          <p>MENTOR/PROTEGE Request</p>
          <p class="w3-center"><img src="assets/images/profile.png" style="height:106px;width:106px" alt="Avatar"></p>
          <span>Jane Doe</span>
          <div class="w3-row w3-opacity">
            <div class="w3-half">
              <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button>
            </div>
            <div class="w3-half">
              <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i></button>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Accordion -->
      <div class="w3-card-2 w3-round">
        <div class="w3-white">
          <!-- <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Groups</button>
          <div id="Demo1" class="w3-hide w3-container">
            <p>Some text..</p>
          </div>
          <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events</button>
          <div id="Demo2" class="w3-hide w3-container">
            <p>Some other text..</p>
          </div>
          <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> My Photos</button>
          <div id="Demo3" class="w3-hide w3-container">
         <div class="w3-row-padding">
         <br>
           <div class="w3-half">
             <img src="/w3images/lights.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/mountains.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/forest.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/fjords.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
         </div>
          </div> -->
        </div>      
      </div>
      <br>
      
      <!-- Interests --> 
      <div class="w3-card-2 w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <!-- <p>Interests</p>
          <p>
            <span class="w3-tag w3-small w3-theme-d5">News</span>
            <span class="w3-tag w3-small w3-theme-d4">W3Schools</span>
            <span class="w3-tag w3-small w3-theme-d3">Labels</span>
            <span class="w3-tag w3-small w3-theme-d2">Games</span>
            <span class="w3-tag w3-small w3-theme-d1">Friends</span>
            <span class="w3-tag w3-small w3-theme">Games</span>
            <span class="w3-tag w3-small w3-theme-l1">Friends</span>
            <span class="w3-tag w3-small w3-theme-l2">Food</span>
            <span class="w3-tag w3-small w3-theme-l3">Design</span>
            <span class="w3-tag w3-small w3-theme-l4">Art</span>
            <span class="w3-tag w3-small w3-theme-l5">Photos</span>
          </p> -->
        </div>
      </div>
      <br>
      
      <!-- Alert Box -->
      <!-- <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Hey!</strong></p>
        <p>People are looking at your profile. Find out who.</p>
      </div> -->
    
    <!-- End Left Column -->
    </div>
    

<!--GROUP CHAT  -->
    <!-- Middle Column -->
    <!-- <div class="w3-col m7"> -->
    
      <!-- <div class="w3-row-padding"> -->
        <!-- <div class="w3-col m12"> -->
        <div id="id03" class="modal">
          <!-- <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span> -->
          <form class="modal-content animate" action="/action_page.php" id="modal3contain">
            <div class="container" id="chatcontain">
              <h2 id="chatheader">GROUP CHAT</h2>
              <div id="chatfield">
                  
                </div>

              <!-- <label id="usrnm"><b>Username</b></label> -->
              <!-- <input type="text" placeholder="Enter Email" name="email" id="logInemail" required> -->
              <!-- <label id="psswd"><b>Password</b></label> -->
              <input type="text" placeholder="Type a message" name="comment" id="chatmessage" required>

              <div class="clearfix3" id="clearfix4">
                <button type="button" id="signUp" class="signupbtn">SUBMIT</button>
                <button type="button" onclick="document.getElementById('id05').style.display='none'" class="cancelbtn">CANCEL</button>
              </div>
            </div>
          </form>
        </div>

         <!--  <div class="w3-card-2 w3-round w3-white">
            <div class="w3-container w3-padding">
              <h6 class="w3-opacity">Social Media template by w3.css</h6>
              <p contenteditable="true" class="w3-border w3-padding">Status: Feeling Blue</p>
              <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Post</button> 
            </div>
          </div> -->
        <!-- </div> -->
      <!-- </div> -->
      
      <!-- <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br> -->
        <!-- <img src="/w3images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px"> -->
        <!-- <span class="w3-right w3-opacity">1 min</span> -->
        <!-- <h4>John Doe</h4><br>
        <hr class="w3-clear">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> -->
          <!-- <div class="w3-row-padding" style="margin:0 -16px"> -->
            <!-- <div class="w3-half"> -->
              <!-- <img src="/w3images/lights.jpg" style="width:100%" alt="Northern Lights" class="w3-margin-bottom"> -->
            <!-- </div>
            <div class="w3-half"> -->
              <!-- <img src="/w3images/nature.jpg" style="width:100%" alt="Nature" class="w3-margin-bottom"> -->
          <!-- </div>
        </div> -->
        <!-- <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button> 
        <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> --> 
    <!--   </div> -->
      
      <!-- <div class="w3-container w3-card-2 w3-white w3-round w3-margin" id="profilemiddlecolumn"><br> -->
        <!-- <img src="/w3images/avatar5.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">16 min</span>
        <h4>Jane Doe</h4><br>
        <hr class="w3-clear">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button> 
        <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button>  -->
      <!-- </div> -->

      <!-- <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
        <img src="/w3images/avatar6.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">32 min</span>
        <h4>Angie Jane</h4><br>
        <hr class="w3-clear">
        <p>Have you seen this?</p>
        <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button> 
        <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> 
      </div> --> 
      
    <!-- End Middle Column -->
   <!--  </div> -->

<!-- INSTANT MESSAGE -->
    <!-- Right Column -->
  <div id="id05" class="modal">
    <!-- <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span> -->
    <form class="modal-content animate" action="/action_page.php" id="modal4contain">
      <div class="container" id="mssgcontain">
        <h2 id="mssgheader">INSTANT MESSAGE</h2>
          <input type="text" placeholder="Search by Username" name="comment" id="mssgsearch" required>

          <div id="mssgfield"></div>
              <!-- <label id="usrnm"><b>Username</b></label> -->
              <!-- <input type="text" placeholder="Enter Email" name="email" id="logInemail" required> -->
              <!-- <label id="psswd"><b>Password</b></label> -->
            <input type="text" placeholder="Type a message" name="comment" id="chatmessage" required>

          <div class="clearfix3" id="clearfix4">
            <button type="button" id="signUp" class="signupbtn">SUBMIT</button>
            <button type="button" onclick="document.getElementById('id05').style.display='none'" class="cancelbtn">CANCEL</button>
        </div>
      </div>
    </form>
  </div>

      <!-- <div class="w3-card-2 w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Upcoming Events:</p>
          <img src="/w3images/forest.jpg" alt="Forest" style="width:100%;">
          <p><strong>Holiday</strong></p>
          <p>Friday 15:00</p>
          <p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
        </div>
      </div> -->
      <br>
      
      <div class="w3-card-2 w3-round w3-white w3-center">
        <div class="w3-container">
          <!-- <p>MENTOR/PROTEGE Request</p>
          <img src="assets/images/profile.png" alt="Avatar" style="width:50%"><br>
          <span>Jane Doe</span> -->
          <div class="w3-row w3-opacity">
            <!-- <div class="w3-half">
              <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button>
            </div>
            <div class="w3-half">
              <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i></button>
            </div> -->
          </div>
        </div>
      </div>
      <br>
      
      <!-- <div class="w3-card-2 w3-round w3-white w3-padding-16 w3-center">
        <p>ADS</p>
      </div> -->
      <br>
      
      <!-- <div class="w3-card-2 w3-round w3-white w3-padding-32 w3-center">
        <p><i class="fa fa-bug w3-xxlarge"></i></p>
      </div> -->
      
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">DEVCONNECT</a></p>
</footer>
 
<script>
// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card-2" + " w3-animate-top" + " w3-black";
    } else {
        navbar.className = navbar.className.replace(" w3-card-2 w3-animate-top w3-black", "");
    }
}

// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

<script>
    // Get the modal
    var modal = document.getElementById('id03');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

  </script>

<script type="text/javascript" src="assets/javascript/logres.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->

</body>
</html>